.container{
    height: 80px;
    background: var(--background1);
    color: var(--font1);
    display: flex;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.container nav{
    display: flex;
    grid-gap: 10px;
}
.container nav li{
    padding: 5px 10px;
}
.container nav li> a, button{
    color: var(--font1);
}