.container{
    height: 80px;
    background: var(--background1);
    color: var(--font1);
    display: flex;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    position: sticky;
    top: 0;
    z-index: 10;

}
.container nav{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.container nav a{
    padding: 5px 10px;
}