@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

*{
    top: 0;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3{
    font-weight: 800;
}
a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    background: transparent;
}
li{
    list-style-type: none;
}

.ligth{
    --background1: #ffc933;
    --font1:#1c2038;
 }
 .dark{
    --background1: rgb(28, 32, 56);
    --font1:rgb(255, 201, 51);
 }