.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7em;
    height: 90vh;
    background: var(--background1);
    transition: 0.2s;
}
@media screen and (max-width:1000px ) {
    .container{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .container .content {
        text-align: center;
        height: 90vh;
    }
    .container .contentImg img{
        display: none;
    }
}
.container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 15px;
}
@media screen and (max-width:1000px ) {
    .container .content {
        align-items: center;
    }
}
.container .content h1{
    font-size: 4em;
    line-height: 0.85;
    color: var(--font1);
}

.container .contentImg{
    display: flex;justify-content: center;
    align-items: center;
}
.container .contentImg img{
    height: 350px;
}