.container-car{
    height: 100%;
}

.navBar{
    background-color: rgb(62, 172, 145);
    color: #fff;
    padding: 10px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navBar h4{
    font-weight: 900;
}
.navBar ul{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}
.navBar ul a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.container-grid{
    display: flex;
}

.container-grid div ul{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(165, 165, 165);
    height: 100vh;
    width: 100px;
    padding: 20px 40px;
}
.container-grid ul a{
    line-height: 2;
    text-decoration: none;
}